@model OnlineGameStore.Models.CreditCard

@{
    ViewData["Title"] = "Edit";
}
<div class="page" style="background: white;   margin-top: 25px; margin-bottom: 20px;">

    <h1>Edit</h1>

    <h4>CreditCard</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CreditId" />
                <div class="form-group">
                    <label asp-for="AccountId" class="control-label"></label>
                    <select asp-for="AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardTypeId" class="control-label"></label>
                    <select asp-for="CardTypeId" class="form-control" asp-items="ViewBag.CardTypeId"></select>
                    <span asp-validation-for="CardTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardNumber" class="control-label"></label>
                    <input asp-for="CardNumber" class="form-control" />
                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardCode" class="control-label"></label>
                    <input asp-for="CardCode" class="form-control" />
                    <span asp-validation-for="CardCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpireDate" class="control-label"></label>
                    <input asp-for="ExpireDate" class="form-control" />
                    <span asp-validation-for="ExpireDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardHolder" class="control-label"></label>
                    <input asp-for="CardHolder" class="form-control" />
                    <span asp-validation-for="CardHolder" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingAddress" class="control-label"></label>
                    <input asp-for="BillingAddress" class="form-control" />
                    <span asp-validation-for="BillingAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BillingPhone" class="control-label"></label>
                    <input asp-for="BillingPhone" class="form-control" />
                    <span asp-validation-for="BillingPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CountryId" class="control-label"></label>
                    <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProvinceStateId" class="control-label"></label>
                    <select asp-for="ProvinceStateId" class="form-control" asp-items="ViewBag.ProvinceStateId"></select>
                    <span asp-validation-for="ProvinceStateId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">
            $(document).ready(function () {
                $("#CountryId").on("change", function () {
                    var categoryId = $(this).val();
                    $list = $("#ProvinceStateId");
                    var url = "/CreditCard/getCities'";

                    $.ajax({
                        url: '/CreditCard/getCities',
                        type: 'Get',
                        data: { id: categoryId }, //id of the state which is used to extract cities
                        traditional: true,
                        success: function (result) {
                            $list.empty();
                            $.each(result, function (i, item) {
                                $list.append('<option value="' + item.value + '"> ' + item.text + '</option>');
                            });
                        },
                        error: function () {
                            alert("Something went wrong call the police");
                        }
                    });
                });
            });
        </script>
    }
