@{
    ViewData["Title"] = "Home Page";
}
<div class="page" style="background: white;   margin-top: 25px; margin-bottom: 20px;">

    <div class="text-center">
        <h1 class="display-4">2D2K Gamestore</h1>

    </div>
</div>