@model IEnumerable<OnlineGameStore.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<h1>Not Logged In</h1>
<p>It looks like you're not signed in to an account. You can <a href="../../Identity/Account/Login">log in</a> with an existing account or <a href="../../Identity/Account/Register">register</a> a new account</p>

